asgiref==3.4.1
autopep8==1.5.7
certifi==2022.9.24
Django==3.2.12
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.2
django-summernote==0.8.11.6
psycopg2-binary==2.9.4
pycodestyle==2.8.0
pytz==2021.3
sentry-sdk==1.10.1
sqlparse==0.4.2
toml==0.10.2
urllib3==1.26.12